@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;500&family=Lobster+Two:wght@400;700&family=Rozha+One&display=swap');

/* Custom Properties */
:root {
    --primary: rgb(255, 87, 127);
    --primary-light: #FBA1B7;
    --primary-dark: #FF2171;
    --secundary: rgb(255, 249, 176);
    --secundary-light: rgb(255, 228, 167);
    --secundary-dark: rgb(255, 219, 170);
    --pink: rgb(255, 171, 171);
    --orange: #FF884B;
    --yellow: rgb(255, 211, 132);
    --light: rgb(254, 242, 244);
    --dark: #2f2519;
    --bg-alpha-color: rgb(254, 242, 244, .5) 

}

/* Reset Styles  */
a {
    color: var(--orange);
    transition: all .3s ease-out;
    font-size: larger;
}

a:hover {
    color: var(--primary-dark);
}

body {
    font-family: 'Familjen Grotesk', sans-serif;
    overflow-x: hidden;

}


/* Bootstrap Styles */

.bg-body-tertiary {
    background-color: var(--secundary) !important;
}

.card {
    background-color: var(--secundary-light) ;
}

.carousel-item {
    left: 10%;
    width: 80%;
}

.dropdown-menu {
    background-color: var(--secundary-dark);
    border: none;

}

.dropdown-item{
    font-weight: 500;
    color: var(--primary-dark);

}

.dropdown-item:hover {
    color: var(--light);
    background-color: var(--primary-dark);
    transition: all .3s ease-in-out;
    font-size: 1.1rem;


}

.navbar-brand img {
    width: auto;
    height: 30px;
}

.navbar-brand {
    font-family: 'Lobster Two', cursive;
    letter-spacing: .2rem;
    font-size: 1.5rem;

}

.nav-item {
    transition: all .3s ease-in-out;

}

.nav-item:hover {
    background-color: var(--pink);
    border-radius: 7px;

}

.nav-link {
    margin-left: .5rem;
    color: var(--dark);
    font-size: 1.2rem;
    font-weight: 500;

}

.nav-link:hover {
    color: var(--light);
}

.navbar .navbar-toggler {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2847, 37, 25, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    transition: all .3s ease-in-out;

}


.navbar .navbar-toggler:hover {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 87, 127, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    opacity: .75;
}



/* My Styles */
.bg-alpha-color {
    background-color: rgb(255, 249, 176, .5);
    background-image: linear-gradient(
        135deg, 
        rgb(255, 228, 167, .5),
        rgb(255, 219, 170, .5) 79%
    );
    background-image: linear-gradient(
        131deg, 
        rgb(255, 211, 132, .5), 
        rgb(255, 171, 171, .5) 70%
    );
}

.bg-secundary-color {
    background-color: rgb(255, 171, 171, .75);

}

.bg-gradient-pink {
    background-color: var(--primary);
    background-image: linear-gradient(
        135deg, 
        var(--primary),
        var(--primary-light) 79%
    );
    background-image: linear-gradient(
        131deg, 
        var(--yellow), 
        var(--primary) 70%
    );

    .logo {
        max-width: 150px;
    }

    .img-home {
        max-width: 350px;
    }
}

.bg-gradient-yellow {
    background-color: var(--secundary);
    background-image: linear-gradient(
        135deg, 
        var(--secundary-light),
        var(--secundary-dark) 79%
    );
    background-image: linear-gradient(
        131deg, 
        var(--yellow), 
        var(--pink) 70%
    );
}

.bg-hero-img {
    background-image: var(--bg-img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.no-bg {
    background-color: transparent;
    border: none;
}

.img-c {
    max-height: 550px;
}

.img-cli {
    height: 230px;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 280px) {
    .title {
        font-size: 3.5rem;
    }
    .subtitle {
        font-size: 2.5rem;
    }
    
}
@media (min-width: 576px) { 
    .title {
        font-size: 5.5rem;
    }
    .subtitle {
        font-size: 2.5rem;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .subtitle {
        font-size: 3.5rem;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .banner {
        padding: 5rem;
        text-align: left !important;
        padding-left: 2rem;
    }
    .title {
        font-size: 5.5rem;
    }
    .subtitle {
        font-size: 3.5rem;
    }

    .nav-item:hover {
    background-color: transparent;
    }

    .nav-link:hover {
        color: var(--primary-dark);
        transition: all .2s ease-in-out;

    }

 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .title {
        font-size: 7.5rem;
    }
   


    .img-fluid {
        width: 100%;
     }
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
     .img-fluid {
        width: 100%;
     }
 }